.footer__contacts-calling {
	width: 229px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	padding: 80px 0 0 0;
	margin: 0 0 50px 0;
}

@media screen and (max-width: 576px) {
	.footer__contacts-calling {
		padding-top: 60px;
		margin-bottom: 40px;
	}
}