.bicycles {
	margin: 0 auto 60px auto;
	padding-top: 60px;
	position: relative;
}

@media screen and (min-width: 1440px) {
	.bicycles {
		width: 1200px;
	}
}

@media screen and (max-width: 1280px) {
	.bicycles {
		margin: 0 0 60px;
	}
}

@media screen and (max-width: 576px) {
	.bicycles {
		padding-top: 80px;
	}

	.bicycles::before {
		content: '';
		position: absolute;
		top: 40px;
		width: 100%;
		border-bottom: 1px solid #E3E3E3;
	}
}