.lead__info {
	min-height: 567px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 17.36vw;
}

@media screen and (min-width: 1440px) {
	.lead__info {
		margin-right: 250px;
	}
}