.header__nav {
	margin: 28px 0 28px auto;
	width: 400px;
}

@media screen and (min-width: 1440px) {
	.header__nav {
		margin-right: 0;
	}
}

@media screen and (max-width: 576px) {
	.header__nav {
		width: 22px;
		margin-top: 24px;
		margin-bottom: 25px;
	}
}