.header__nav {
	margin: 24px 0 24px auto;
	width: 408px;
}

@media screen and (min-width: 1440px) {
	.header__nav {
		margin-right: 0;
	}
}

@media screen and (max-width: 1440px) {
	.header__nav {
		margin-top: 28px;
		margin-right: 5.625vw;
		margin-bottom: 30px;
		display: none;
	}
	.header__nav::after {
		content: '';
		
	}
}