.header__nav {
	margin: 28px 0 28px auto;
	width: 408px;
}

@media screen and (min-width: 1440px) {
	.header__nav {
		margin-right: 0;
	}
}

@media screen and (max-width: 1440px) {
	.header__nav {

	}
}