.bicycles__list {
    list-style: none;
    display: flex;
    margin: 116px 0 0 0;
    padding: 0;
}

@media screen and (max-width:768px) {
    .bicycles__list {
        margin: 70px auto 0;
        width: 85%;
    }
}

@media screen and (max-width:576px) {
    .bicycles__list {
        margin: 20px auto 0;
        width: 100%;
    }
}