.header__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin: 0 34px 0 0;
	text-decoration: none;
	color: #FFFFFF;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.header__link:hover {
	opacity: 0.65;
}

.header__link:last-of-type {
	margin: 0;
}

@media screen and (max-width: 576px) {
	.header__link {
		display: none;
	}
}