.training {
	width: 83.3333%;
	margin: 0 auto 120px auto;
	display: flex;
}

@media screen and (min-width: 1440px) {
	.training {
		width: 1200px;
	}
}

.training__info {
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 11.1111%;
}

@media screen and (min-width: 1440px) {
	.training__info {
		margin-right: 160px;
	}
}

.training__heading {
	padding: 0;
	margin: 0 0 50px 0;
	font-weight: 700;
	font-size: 55px;
	line-height: 60px;
	letter-spacing: -0.5px;
	text-rendering: optimizeLegibility;
}

.training__text {
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 28px;
	color: #E5E5E5;
	opacity: 0.7;
}

.training__brands {
	display: flex;
}

.training__brand {
	margin: 0 30px 0 0;
	padding: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.training__brand:hover{
	opacity: 0.65
}

.training__brand:last-of-type {
	margin-right: 0;
}

.training__image {
	width: 40.277vw;
	object-fit: contain;
	object-position: center;
}

@media screen and (min-width: 1440px) {
	.training__image {
		width: 580px;
	}
}