.lead {
	margin: 0 0 0 auto;
	width: 88.8888vw;
	display: flex;
}
.lead__info {
	min-height: 567px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.lead__main {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 382px;
}
.lead__heading {
	margin: 0;
	padding: 0;
}
.lead__text {
	margin: 0;
	padding: 0;
}
.lead__link {
	margin: 0;
	padding: 0;
}
.lead__caption {
	margin: 0 0 209px 0;
	padding: 0;
}
.lead__sticky-image {
	position: sticky;
	display: none;
}
.lead__image {
	object-fit: contain;
	object-position: bottom right;
	margin-top: 20px;
}