.bicycles {}

.bicycles__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bicycles__title {
    max-width: 460px;
    margin: 0;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;

}

.bicycles__styles {
    margin-right: 8.334%;
}

.bicycles__style {
    margin-right: 40px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(229, 229, 229, 0.7);
}

.bicycles__style:last-of-type {
    margin: 0;
}

.bicycles__style_type_active {
    color: #FFFFFF;
}

.bicycles__list {}

.bicycles__list-item {}

.bicycles__photo {}

.bicycles__name {}