.bicycles__mobile-form {
    width: 114px;
    height: 30px;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    display: none;
}

.bicycles__select {
    color: white;
    width: 114px;
    height: 30px;
    border-radius: 2px;
    background: #333333;
    outline: none;
}

.bicycles__switch {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: none;
    padding: 0;
}

.bicycles__switch_type_active {
    background-color: black;
}