.bicycles__style {
	margin-right: 40px;
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: rgba(229, 229, 229, 0.7);
	opacity: 0.7;
	transition: opacity 0.5s ease;
}

.bicycles__style:hover {
	opacity: 0.5;
}

.bicycles__style:last-of-type {
	margin: 0;
}

@media screen and (max-width:768px) {
	.bicycles__style {
		font-size: 16px;
		line-height: 24px;
	}
}

@media screen and (max-width:576px) {
	.bicycles__style {
		display: none;
	}
}