.intro {
    display: flex;
    position: relative;
    margin: 120px auto 60px;
}

@media screen and (min-width: 1440px) {
    .intro {
        width: 83.333%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro::before {
        content: '';
        position: absolute;
        top: -20px;
        width: 100%;
        border-bottom: 1px solid #E3E3E3;
    }
}

@media screen and (max-width: 576px) {
    .intro {
        margin: 60px auto 40px;
    }
}