.lead__sticky-container {
	width: 30.5555vw;
	height: 29.861vw;
	position: absolute;
	top: 419px;
	right: 25.69vw;
	left: 35.41vw;
}

@media screen and (min-width: 1440px) {
	.lead__sticky-container {
		right: 370px;
		left: 510px;
		width: 440px;
		height: 430px;
	}
}

@media screen and (max-width: 992px) {
	.lead__sticky-container {
		right: 20vw;
		left: 40vw;
	}
}

@media screen and (max-width: 768px) {
	.lead__sticky-container {
		right: auto;
		top: 200px;
	}
}

@media screen and (max-width: 576px) {
	.lead__sticky-container {
		left: 0;
		top: 357.13px;
		width: 73.125vw;
		height: 73.125vw;
	}
}