.lead__sticky-container {
	width: 30.5555vw;
	height: 29.861vw;
	position: absolute;
	top: 419px;
	right: 25.69vw;
	left: 35.41vw;
}

@media screen and (min-width: 1440px) {
	.lead__sticky-container {
		right: 370px;
		left: 510px;
		width: 340px;
		height: 430px;
	}
}