.bicycles__photo {
    padding: 1.8888vw;
    background: #F4F4F4;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
		width: 23.61vw;
		object-fit: contain;
		object-position: center;
		
}

@media screen and (min-width:1440px) {
	.bicycles__photo{
		padding: 20px;
		width: 340px;
	}
}