.bicycles__photo {
	padding: 1.8888vw;
	background: #F4F4F4;
	box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
	border-radius: 20px;
	width: 22.5vw;
	object-fit: contain;
	object-position: center;

}

@media screen and (min-width:1440px) {
	.bicycles__photo {
		padding: 20px;
		width: 340px;
	}
}

@media screen and (max-width:768px) {
	.bicycles__photo {
		width: 30vw;
	}
}

@media screen and (max-width:576px) {
	.bicycles__photo {
		padding: 15px 15px 37px;
		width: calc(100% - 30px);
		min-width: 254px;
		margin: 0 auto 0;
	}
}