.training__image {
	width: 40.277vw;
	object-fit: contain;
	object-position: center;
}

@media screen and (min-width: 1440px) {
	.training__image {
		width: 580px;
	}
}

@media screen and (max-width: 768px) {
	.training__image {
		position: absolute;
		top: 28%;
		width: 100%;
	}
}

@media screen and (max-width: 576px) {
	.training__image {
		top: 28%;
	}
}